.wrapper
  %h1 menubar
  .panel
    %ul.menubar.black
      %li= link_to "first item", "#"
      %li
        another item (hover me)
        %ul
          %li= link_to "menu item one", "#"
          %li= link_to "menu item one", "#"
          %li= link_to "menu item one", "#"
          %li= link_to "menu item one", "#"
          %li= link_to "menu item one", "#"    
      %li= link_to "item three", "#"
    %ul.menubar.grey
      %li= link_to "first item", "#"
      %li
        another item (hover me)
        %ul
          %li= link_to "menu item one", "#"
          %li= link_to "menu item one", "#"
          %li= link_to "menu item one", "#"
          %li= link_to "menu item one", "#"
          %li= link_to "menu item one", "#"    
      %li= link_to "item three", "#"
    %ul.menubar.pink
      %li= link_to "first item", "#"
      %li
        another item (hover me)
        %ul
          %li= link_to "menu item one", "#"
          %li= link_to "menu item one", "#"
          %li= link_to "menu item one", "#"
          %li= link_to "menu item one", "#"
          %li= link_to "menu item one", "#"    
      %li= link_to "item three", "#"
    %ul.menubar.white
      %li= link_to "first item", "#"
      %li
        another item (hover me)
        %ul
          %li= link_to "menu item one", "#"
          %li= link_to "menu item one", "#"
          %li= link_to "menu item one", "#"
          %li= link_to "menu item one", "#"
          %li= link_to "menu item one", "#"    
      %li= link_to "item three", "#"

  %h2 The @mixin &amp; @include
  .panel
    %script(src="https://gist.github.com/2962248.js?file=menubar.haml")

  %h2 The HAML
  .panel
    %script(src="https://gist.github.com/2962248.js?file=menubar.scss")
  