.wrapper
  = link_to "source on github", "https://github.com/michaelparenteau/menubar", :class => "github", :title => "source on github"
  %h1 menubar
  .panel
    %ul.menubar.black
      %li= link_to "first item", "#"
      %li
        (hover me)
        %ul
          %li= link_to "menu item one", "#"
          %li= link_to "menu item two", "#"
          %li= link_to "menu item three", "#"
          %li= link_to "menu item four", "#"
          %li= link_to "menu item five", "#"
      %li= link_to "item three", "#"
    %ul.menubar.grey
      %li= link_to "first item", "#"
      %li
        (hover me)
        %ul
          %li= link_to "menu item one", "#"
          %li= link_to "menu item two", "#"
          %li= link_to "menu item three", "#"
          %li= link_to "menu item four", "#"
          %li= link_to "menu item five", "#"    
      %li= link_to "item three", "#"
    %ul.menubar.pink
      %li= link_to "first item", "#"
      %li
        (hover me)
        %ul
          %li= link_to "menu item one", "#"
          %li= link_to "menu item two", "#"
          %li= link_to "menu item three", "#"
          %li= link_to "menu item four", "#"
          %li= link_to "menu item five", "#"    
      %li= link_to "item three", "#"
    %ul.menubar.white
      %li= link_to "first item", "#"
      %li
        (hover me)
        %ul
          %li= link_to "menu item one", "#"
          %li= link_to "menu item two", "#"
          %li= link_to "menu item three", "#"
          %li= link_to "menu item four", "#"
          %li= link_to "menu item five", "#"    
      %li= link_to "item three", "#"

  %h2 The @mixin &amp; @include
  .panel
    %script(src="https://gist.github.com/2962248.js?file=menubar.scss")

  %h2 The HAML
  .panel
    %script(src="https://gist.github.com/2962248.js?file=menubar.haml")
  